.nav-link::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #000;
    position: absolute;
    bottom: -0.25rem;
    right: 0;
    transition: right 0.3s, width 0.3s, left 0.3s;
}

.nav-link:hover::before {
    width: 100%;
    left: 0;
}