@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
}

h1,
h2,
h3,
h4,
h5,
h6,
h2>span {
  font-family: var(--font-barlow-condensed);
}

p,
span,
a,
div {
  font-family: var(--font-montserrat);
}

main {
  background-image: url("/banner.webp");
  background-size: cover;
  background-position-y: -30px;
  /* background-position: center; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgb(var(--background-start-rgb));
}

.highlight {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=d6d653af);
  margin: -2px -6px;
  padding: 4px 6px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}